* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse Bold';
    src: url("Norse-Bold.otf");
}
fieldset {
    border: none;
}

.container {
    height: 100vh;
    width: 100vw;
}

.container, .img {
    display: flex;
    flex-flow: row wrap;
}

.hero {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40vw;
    height: 100vh;
    color: #ffffff;
    font-family: "Norse Bold";
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-top: 15rem;
}

.title {
    font-size: 5rem;
}

.odin-logo {
    height: 10rem;
    width: auto;
}

.img {
    height: auto;
    background-color: rgb(0, 0, 0, 0.7);

}

.right {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.right > * {
    padding: 2rem;
}
.head {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.signup-form-container {

    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
}

.signup-form {
    margin: 3rem auto;
}
.signup-form > fieldset {
    display: flex;
    gap: 3rem;
}

fieldset > * {
    margin: 1rem 0;
}



.signup-form > fieldset > div {
    display: flex;
    flex-direction: column;
}

div>input {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 17rem;
    border: 1px solid #E5E7EB;
    outline: none;
    font-size: 1rem
}

div>input:focus{
    border-color: blue;
    box-shadow: 1px 1px 3px #808080; 
}

/* footer */
.foot {
    margin: 1rem 0;
}
.foot > * {
    margin: 1rem 0;
}
button {
    padding: 1rem 4rem;
    font-size: 1rem;
    background-color: #596D48;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 0.5rem
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}